<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Result</title>
<link rel="stylesheet" type="text/css" href="theme.css">
</head>

<body>

	<h1>The result of the <%= @operation %> is <%= @result %></h1>
	<form>
		<div id="return">
			<input type="button" value="back" onClick="history.go(-1);return true;">
		</div>
	</form

</body>

</html>
